body{
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*----- BUTTONS -----*/

button{
    cursor: pointer;
}

#btn-modal{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 15px -7px rgba(255, 0, 0, 0.3);
}

#btn-modal:hover{
    filter: contrast(120%);
    animation: pulse 1.8s infinite;
}

#social-btns{
    margin-top: 7px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.social-button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    display: flex;
}

.social-button img{
    width: 100%;
    height: 80%;
    align-self: center;
}

#btn-facebook{
    background-color: #0c72f6;
}

#btn-facebook:hover{
    background-color: #0966DE;
}

#btn-google{
    background-color: #FFF;
    border: 1px solid #EAEAEA !important;
}

#btn-google:hover{
    background-color: #F7F7F7;
}

#btn-apple{
    background-color: #1e1e1e;
}

#btn-apple:hover{
    background-color: #141414;
}

#btn-login{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border: 2px solid rgba(1, 1, 1, 0);
    background-color: #EB0029;
    border-radius: 15px;
    align-self: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

#btn-login:hover{
    background-color: #BC252A;
}

#btn-login img{
    width: 30px;
    height: 25px;
    filter: invert(100%);
}

#btn-login.disabled{
    background-color: #F9F9F9;
    border: 2px solid #E7E7E7;
    cursor: default;
}

#btn-login.disabled img{
    filter: invert(90%);
}

#btn-close{
    background-color: rgba(1, 1, 1, 0);
    color: #AAA;
    border: none;
    position: absolute;
    right: 1px;
    font-weight: 100;
    font-size: 17px;
    width: 25px;
}

#btn-close:hover{
    background-color: rgba(255, 1, 1, 1);
    color: #FFF;
}

/*----- INPUTS -----*/

#checkbox-container *{
    cursor: pointer;
}

#inputs-container input[type='checkbox']{
    background-color: #E7E7E7;
    border: none;
    align-self: flex-start;
    filter: hue-rotate(135deg);
}

#inputs-container a {
    text-decoration: none;
    color: #979797;
    font-weight: 900;
    font-size: 11px;
    text-align: center;
    width: fit-content;
    align-self: center;
}

#inputs-container a:hover{
    color: #111;
}

.custom-input{
    background-color: #F1F1F1;
    padding: 17px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s;
}

.custom-input:hover{
    background-color: #E7E7E7;
}

.custom-input::placeholder{
    font-size: 11px;
    font-weight: 900;
    color: #9e9e9e;
}

.custom-input:focus{
    background-color: #F9F9F9;
}

#password-toggle{
    position: relative;
    bottom: 30px;
    left: 260px;
}

#password-input:focus#eye{
    visibility: visible;
}

#eye{
    height: 15px;
    width: 30px;
    cursor: pointer;
    visibility: hidden;
}

.custom-placeholder{
    position: relative;
    height: 14px;
    top: 32px;
    left: 13px;
    font-size: 12px;
    font-weight: 900;
    color: #9e9e9e;
    cursor: text;
    transition: 0.2s;
}

.placeholder-top{
    font-size: 10px;
    left: 10px;
    top: 17px;
}

/*----- MODAL -----*/

#modal-container{
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: 0.2;
}

.show{
    display: flex !important;
    animation: fade 0.5s;
}

#login-container{
    min-width: 320px;
    height: 774px;
    background-color: #F9F9F9;
    padding: 40px;
    align-items: center;
}

h2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}

#logo-container{
    margin-top: 35px;
    width: 120px;
}

#logo-container img{
    max-width: 100%;
    max-height: 100%;
}

#img-container{
    background-image: url('assets/img/login.jpg');
    background-size: cover;
    position: relative;
    height: 854px;
    width: 70vw;
}

#img-container img{
    max-width: 1296px;
}

#form-container{
    width: 300px;
}

#modal-container{
    justify-content: center;
    align-items: center;
}

/*----- FLEX CLASSES -----*/

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

/*----- ANIMATIONS -----*/

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

@keyframes fade {
    from{
        filter: opacity(0%);
    }to{
        filter: opacity(100%);
    }
}

/*----- MEDIA QUERIES -----*/

@media screen and (max-width:1400px) {
    #img-container{
        height: 710px;
        width: 55vw;
    }

    #login-container{
        height: 650px;
        padding: 30px;
    }

    #btn-login{
        margin-top: 100px;
    }
}

@media screen and (max-width:960px) {
    #img-container{
        width: 0;
    }

    body{
        height: 100vh;
        width: 100vw;
        background-color: #E7E7E7;
    }

    #modal-container{
        z-index: 999;
        display: flex;
        justify-content: center;
        position: unset;
        top: unset;
        left: unset;
        align-items: center;
        height: 100vh;
        width: 100vw;
        transition: 0.2;
    }

    #btn-modal{
        display: none;
    }

    #btn-close{
        display: none;
    }
}